---
import Container from "@/components/container.astro";
// import Cta from "@/components/cta.astro";
// import Features from "@/components/features.astro";
// import TemplateHero from "@/components/template-hero.astro";
import Hero from "@/components/hero.astro";
// import Logos from "@/components/logos.astro";
import Layout from "@/layouts/Layout.astro";
import SafetySection from "@/components/safetysection.astro";
import ImportanceSection from "@/components/importancesection.astro";
import ClaritySection from "@/components/claritysection.astro";
import ComfortSection from "@/components/comfortsection.astro";
import PracticalitySection from "@/components/practicalitysection.astro";
import ScienceSection from "@/components/sciencesection.astro";
import GallerySection from "@/components/gallerysection.astro";
import AboutSection from "@/components/aboutsection.astro";
---

<Layout title="CleanAirHats - Breathe Easier">
  <Container>
    <Hero />
    <section id="safety">
      <SafetySection />
    </section>
    <section id="importance">
      <ImportanceSection />
    </section>
    <section id="clarity">
      <ClaritySection />
    </section>
    <section id="comfort">
      <ComfortSection />
    </section>
    <section id="practicality">
      <PracticalitySection />
    </section>
    <section id="science">
      <ScienceSection />
    </section>
    <section id="gallery">
      <GallerySection />
    </section>
    <section id="about">
      <AboutSection />
    </section>
  </Container>
</Layout>
