---
import Container from "@/components/container.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  // Remove or comment out old items
  // { title: "Features", path: "#", children: [...] },
  // { title: "Pricing", path: "/pricing" },
  // { title: "About", path: "/about" },
  // { title: "Blog", path: "/blog" },
  // { title: "Contact", path: "/contact" },
  // { title: "Pro Version", badge: true, path: "..." },

  // Add links for your sections
  { title: "Safety", path: "/safety" },
  { title: "Importance", path: "/importance" },
  { title: "Clarity", path: "/clarity" },
  { title: "Comfort", path: "/comfort" },
  { title: "Practicality", path: "/practicality" },
  { title: "Science", path: "/science" },
  { title: "Gallery", path: "/gallery" },
  { title: "About", path: "/about" },
  // Add other links as needed (e.g., external links, contact)
];
---

<Container class="sticky top-0 z-50 bg-white">
  <header class="flex flex-col lg:flex-row justify-start items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <img
            src="/images/logo.png"
            alt="CleanAirHats Logo"
            class="h-16 w-auto"
          />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <!-- Add specific left margin for large screens -->
      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 lg:ml-8">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item) => {
              const isBasePath = item.path === "/";
              const isActive = isBasePath
                ? Astro.url.pathname === "/"
                : Astro.url.pathname.startsWith(item.path);

              // Define base classes
              const baseClasses = "flex lg:px-3 py-2 items-center";
              // Define active state classes
              const activeStateClasses = isActive
                ? "font-bold text-blue-600"
                : "text-black hover:text-blue-700"; // Apply hover only if inactive

              return (
                <li>
                  <a
                    href={item.path}
                    class={`${baseClasses} ${activeStateClasses}`}>
                    <span> {item.title}</span>
                  </a>
                </li>
              );
            })
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
